@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root {
  --cyan: ;
  --red: ;
  --orange: ;
  --blue: ;
}
* {
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
main {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 25px;
  background-color: hsl(0, 0%, 98%);
}
.intro {
  text-align: center;
  margin: 100px 0 100px 0;
  max-width: 500px;
}
.intro p {
  margin-top: 15px;
}
.card {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  border-radius: 10px;
  max-width: 350px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card img {
  margin-top: 10px;
  display: block;
  margin-left: auto;
}
.thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
p {
  font-size: 15px;
}
@media only screen and (min-width: 500px) {
  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
