@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grayish-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --white: hsl(0, 0%, 100%);
  --dark-desaturated-blue: hsl(236, 21%, 26%);
  --very-dark-blue: hsl(235, 16%, 14%);
  --very-dark-blue: hsl(234, 17%, 12%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
  /* border: 1px solid red; */
}
